//! **************************************************************************
// Written by: Map P.20131013 on Tue Feb 21 22:16:54 2017
//! **************************************************************************

SCHEMATIC START;
PROHIBIT = SITE "P144";
PROHIBIT = SITE "P69";
PROHIBIT = SITE "P60";
COMP "LED1" LOCATE = SITE "P112" LEVEL 1;
COMP "CLK" LOCATE = SITE "P94" LEVEL 1;
NET "CLK_BUFGP/IBUFG" PERIOD = 31.25 ns HIGH 50%;
SCHEMATIC END;

